[Desktop Entry]
Name=BLoC Inspector Client
Comment=Debug your Flutter BLoCs
Exec=bloc-inspector-client
Icon=${SNAP}/meta/gui/bloc-inspector-client.png
Terminal=false
Type=Application
Categories=Productivity;